.page{
width:100%;
height:100%;
background:#ffffff;
}
.sidenav{
width:7rem;

}
.sidenav_height1{
    height: 100%;
    width:100%;
    background-image: linear-gradient(172deg, #5353c8 -3%, #2b8aeb);
}

.highlight{
background:#ffffff;
}
.box{
width:100%;
height:3rem;
opacity:0.8;
}
.box1{
width:96%;
height:4rem;
}
.textclass1{
font-size:smaller;
font-weight:500;
}
.textclass2{
font-size:smaller;
color:#ffffff;
}
.hdivider{
width:100%;
border-top:1px solid white;
opacity:0.8;
}
.username{
font-size:smaller;
color:#ffffff;
opacity:0.8;
font-weight:500;
}
.toolbar{
background-image: url("../assets/images/header.png");
    background-size: 100% 100%;
height: 70px;
    font-size: 18px;
    font-weight: bold;
letter-spacing: 1px;
  color: #3e3e3e;
background-color:white;
}


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
