<mat-drawer-container class="page">
  <mat-drawer mode="side" opened class="sidenav">
     <div fxLayout="column" fxLayoutAlign="space-between center" class="sidenav_height1">
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1.2rem">
            <img src="assets/images/logo.png" width="100%">
            <div fxLayout="column" fxLayoutAlign="center center" class="highlight box1">
              <img src="assets/images/fulfilment.svg" width="26px">
              <label class="textclass1">Fulfilment</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/exception.svg" width="21px">
              <label class="textclass2">Exception</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/On Road.svg" width="17px">
              <label class="textclass2">On Road</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/Transportation.svg" width="26px">
              <label class="textclass2">Transportation</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/truck.svg" width="27px">
              <label class="textclass2">Truck</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" class="box">
              <img src="assets/images/track.svg" width="25px">
              <label class="textclass2">Track Role</label>
            </div>
       </div>
       <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.6rem" style="width:100%;margin-bottom:0.6rem">
            <div class="hdivider"></div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <img src="assets/images/user.svg" width="28px" style="margin-left:5px;">
                <span class="username" style="margin-left:5px;margin-right:2px;">Ramesh Kr.</span>
                <img src="assets/images/dropdown.svg" width="5px">
            </div>
        </div>
     </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="toolbar">Truck Tracking</mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
