<div class="formmargin">
<div class="rectanglebox" fxLayout="row" fxLayoutAlign="start center">
<img src="assets/images/truck.png" style="width: 8rem;margin-left: 1rem;">
<div fxLayout="column" fxLayoutAlign="start start" style="width:83%;margin-left: 2rem;">
<div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%;">
<span class="truckd">KA-05-AA-1234</span>
<span class="truckd">Trailer 40Ft</span>
<div class="datetime">
<span style="text-decoration:underline;font-weight:500;">Dt:</span>
<span> 03/07/2020</span>
</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%;margin-top: .5rem;
    margin-bottom: 2rem;">
<span style="color: #000000;opacity: 0.4;font-size: 13px;">Tata Signa 2168</span>
<div class="datetime">
<span style="text-decoration:underline;font-weight:500;">Time:</span>
<span> 12:30 PM</span>
</div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" style="width:100%;">
<div fxLayout="row" fxLayoutAlign="start center" class="address">
    <img src="assets/images/from location.svg" style="width:18px;margin-right:0.8rem">
    <span>422, 24th Main Rd, ITI Layout, BDA Layout, HSR Layout, Bengaluru, KA</span>
</div>
    <div fxLayout="row" fxLayoutAlign="start center" class="address">
    <img src="assets/images/end location.png" style="width:15px;margin-right:0.8rem">
    <span>Plot 102/10, Electronics City-1, Bengaluru, Karnataka 560100</span>
    </div>
</div>
</div>
</div>

  <div fxLayout="column" fxLayoutAlign="space-between end" class="tit2">
    <span>Status</span>
    <div class="underline2"></div>
  </div>
  <div class="container">
    <div class="fbox">
<div fxLayout="row" fxLayoutAlign="space-evenly center" style="height:100%;">
<div fxLayout="column" fxLayoutAlign="space-between end">
<span class="truckd">Manohar K.</span>
<div class="hdivider"></div>
<span style="color: #000000;font-size: 13px;">+91 - 9911223344</span>
</div>
<img src="assets/images/image.png" width="80px">
</div>
</div>
    <div id="map_element" style="width:100%;height:500px;"></div>
  </div>
</div>
